gzip_adlsgen2/CompressedGzip_to_adlsgen2.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>3eb9b5eb-0177-1000-41fa-e36a41d06564</groupId>
    <name>CompressedGzip_to_adlsgen2</name>
    <snippet>
        <connections>
            <id>acb530be-eec9-3cad-0000-000000000000</id>
            <parentGroupId>78680642-de56-3cd8-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>b8517cf1-da9a-35a1-0000-000000000000</groupId>
                <id>167f7d89-60ce-3523-0000-000000000000</id>
                <type>INPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>d1901876-0e4a-3a10-0000-000000000000</groupId>
                <id>470fda7c-534d-3b10-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>0f12e52c-2313-3f02-0000-000000000000</id>
            <parentGroupId>78680642-de56-3cd8-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-azure-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>storage-account-name</key>
                    <value>
                        <name>storage-account-name</name>
                    </value>
                </entry>
                <entry>
                    <key>storage-endpoint-suffix</key>
                    <value>
                        <name>storage-endpoint-suffix</name>
                    </value>
                </entry>
                <entry>
                    <key>storage-account-key</key>
                    <value>
                        <name>storage-account-key</name>
                    </value>
                </entry>
                <entry>
                    <key>storage-sas-token</key>
                    <value>
                        <name>storage-sas-token</name>
                    </value>
                </entry>
                <entry>
                    <key>storage-use-managed-identity</key>
                    <value>
                        <name>storage-use-managed-identity</name>
                    </value>
                </entry>
            </descriptors>
            <name>ADLSCredentialsControllerService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>storage-account-name</key>
                </entry>
                <entry>
                    <key>storage-endpoint-suffix</key>
                </entry>
                <entry>
                    <key>storage-account-key</key>
                </entry>
                <entry>
                    <key>storage-sas-token</key>
                </entry>
                <entry>
                    <key>storage-use-managed-identity</key>
                </entry>
            </properties>
            <state>DISABLED</state>
            <type>org.apache.nifi.services.azure.storage.ADLSCredentialsControllerService</type>
        </controllerServices>
        <processGroups>
            <id>b8517cf1-da9a-35a1-0000-000000000000</id>
            <parentGroupId>78680642-de56-3cd8-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>328.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>9a4c4da3-bfa8-3496-0000-000000000000</id>
                    <parentGroupId>b8517cf1-da9a-35a1-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b8517cf1-da9a-35a1-0000-000000000000</groupId>
                        <id>1d9197f8-a3a0-3d1b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>b8517cf1-da9a-35a1-0000-000000000000</groupId>
                        <id>167f7d89-60ce-3523-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b1284cd8-626d-3fc5-0000-000000000000</id>
                    <parentGroupId>b8517cf1-da9a-35a1-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b8517cf1-da9a-35a1-0000-000000000000</groupId>
                        <id>00677647-de7c-3835-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>b8517cf1-da9a-35a1-0000-000000000000</groupId>
                        <id>1d9197f8-a3a0-3d1b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c94e64ad-ed5f-3fb1-0000-000000000000</id>
                    <parentGroupId>b8517cf1-da9a-35a1-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b8517cf1-da9a-35a1-0000-000000000000</groupId>
                        <id>40e1dd5d-1f0e-335b-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b8517cf1-da9a-35a1-0000-000000000000</groupId>
                        <id>1d9197f8-a3a0-3d1b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>00677647-de7c-3835-0000-000000000000</id>
                    <parentGroupId>b8517cf1-da9a-35a1-0000-000000000000</parentGroupId>
                    <position>
                        <x>1744.0</x>
                        <y>672.0</y>
                    </position>
                </funnels>
                <funnels>
                    <id>40e1dd5d-1f0e-335b-0000-000000000000</id>
                    <parentGroupId>b8517cf1-da9a-35a1-0000-000000000000</parentGroupId>
                    <position>
                        <x>1736.0</x>
                        <y>448.0</y>
                    </position>
                </funnels>
                <inputPorts>
                    <id>167f7d89-60ce-3523-0000-000000000000</id>
                    <parentGroupId>b8517cf1-da9a-35a1-0000-000000000000</parentGroupId>
                    <position>
                        <x>960.0</x>
                        <y>280.0</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>gzip_files</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <labels>
                    <id>f4fa06fa-39bf-3f04-0000-000000000000</id>
                    <parentGroupId>b8517cf1-da9a-35a1-0000-000000000000</parentGroupId>
                    <position>
                        <x>728.0</x>
                        <y>440.0</y>
                    </position>
                    <height>88.0</height>
                    <label>Configure the ADLS credentials,
file system name 
&amp; folder name</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>272.0</width>
                </labels>
                <processors>
                    <id>1d9197f8-a3a0-3d1b-0000-000000000000</id>
                    <parentGroupId>b8517cf1-da9a-35a1-0000-000000000000</parentGroupId>
                    <position>
                        <x>904.0</x>
                        <y>480.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-azure-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>adls-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.services.azure.storage.ADLSCredentialsService</identifiesControllerService>
    <name>adls-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>filesystem-name</key>
<value>
    <name>filesystem-name</name>
</value>
                            </entry>
                            <entry>
<key>directory-name</key>
<value>
    <name>directory-name</name>
</value>
                            </entry>
                            <entry>
<key>file-name</key>
<value>
    <name>file-name</name>
</value>
                            </entry>
                            <entry>
<key>conflict-resolution-strategy</key>
<value>
    <name>conflict-resolution-strategy</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>adls-credentials-service</key>
<value>0f12e52c-2313-3f02-0000-000000000000</value>
                            </entry>
                            <entry>
<key>filesystem-name</key>
<value>textfiles</value>
                            </entry>
                            <entry>
<key>directory-name</key>
<value>files</value>
                            </entry>
                            <entry>
<key>file-name</key>
<value>${filename}</value>
                            </entry>
                            <entry>
<key>conflict-resolution-strategy</key>
<value>fail</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutAzureDataLakeStorage</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.azure.storage.PutAzureDataLakeStorage</type>
                </processors>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>ingest_to_adlsgen2</name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>d1901876-0e4a-3a10-0000-000000000000</id>
            <parentGroupId>78680642-de56-3cd8-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>2dd3aec6-0b03-3397-0000-000000000000</id>
                    <parentGroupId>d1901876-0e4a-3a10-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d1901876-0e4a-3a10-0000-000000000000</groupId>
                        <id>470fda7c-534d-3b10-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d1901876-0e4a-3a10-0000-000000000000</groupId>
                        <id>475a4bbf-fdbf-3231-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c59a5593-995e-3a21-0000-000000000000</id>
                    <parentGroupId>d1901876-0e4a-3a10-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d1901876-0e4a-3a10-0000-000000000000</groupId>
                        <id>475a4bbf-fdbf-3231-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d1901876-0e4a-3a10-0000-000000000000</groupId>
                        <id>3f5dab36-5f74-32d9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fae41306-99ad-3cb4-0000-000000000000</id>
                    <parentGroupId>d1901876-0e4a-3a10-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d1901876-0e4a-3a10-0000-000000000000</groupId>
                        <id>c10d5676-b171-343e-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>d1901876-0e4a-3a10-0000-000000000000</groupId>
                        <id>475a4bbf-fdbf-3231-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>c10d5676-b171-343e-0000-000000000000</id>
                    <parentGroupId>d1901876-0e4a-3a10-0000-000000000000</parentGroupId>
                    <position>
                        <x>304.0</x>
                        <y>424.0</y>
                    </position>
                </funnels>
                <labels>
                    <id>0a89cfe8-2173-364f-0000-000000000000</id>
                    <parentGroupId>d1901876-0e4a-3a10-0000-000000000000</parentGroupId>
                    <position>
                        <x>456.0</x>
                        <y>152.0</y>
                    </position>
                    <height>72.0</height>
                    <label>Compression Format : Gzip
Level  : 1-9 (ratio)
</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>216.0</width>
                </labels>
                <labels>
                    <id>c65b9799-45fd-3ad1-0000-000000000000</id>
                    <parentGroupId>d1901876-0e4a-3a10-0000-000000000000</parentGroupId>
                    <position>
                        <x>456.0</x>
                        <y>-80.0</y>
                    </position>
                    <height>56.0</height>
                    <label>Config local i/p dir</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>160.0</width>
                </labels>
                <outputPorts>
                    <id>470fda7c-534d-3b10-0000-000000000000</id>
                    <parentGroupId>d1901876-0e4a-3a10-0000-000000000000</parentGroupId>
                    <position>
                        <x>744.0</x>
                        <y>424.0</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>gzip_staged</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>3f5dab36-5f74-32d9-0000-000000000000</id>
                    <parentGroupId>d1901876-0e4a-3a10-0000-000000000000</parentGroupId>
                    <position>
                        <x>152.0</x>
                        <y>-48.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Input Directory</key>
<value>
    <name>Input Directory</name>
</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>
    <name>File Filter</name>
</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
<value>
    <name>Path Filter</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>
    <name>Keep Source File</name>
</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>
    <name>Recurse Subdirectories</name>
</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>
    <name>Polling Interval</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>
    <name>Ignore Hidden Files</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>
    <name>Minimum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
<value>
    <name>Maximum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>
    <name>Minimum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
<value>
    <name>Maximum File Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Input Directory</key>
<value>E:\nifi\source</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>[^\.].*</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>20 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GetFile</type>
                </processors>
                <processors>
                    <id>475a4bbf-fdbf-3231-0000-000000000000</id>
                    <parentGroupId>d1901876-0e4a-3a10-0000-000000000000</parentGroupId>
                    <position>
                        <x>152.0</x>
                        <y>200.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Mode</key>
<value>
    <name>Mode</name>
</value>
                            </entry>
                            <entry>
<key>Compression Format</key>
<value>
    <name>Compression Format</name>
</value>
                            </entry>
                            <entry>
<key>Compression Level</key>
<value>
    <name>Compression Level</name>
</value>
                            </entry>
                            <entry>
<key>Update Filename</key>
<value>
    <name>Update Filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Mode</key>
<value>compress</value>
                            </entry>
                            <entry>
<key>Compression Format</key>
<value>gzip</value>
                            </entry>
                            <entry>
<key>Compression Level</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Update Filename</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>CompressContent</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.CompressContent</type>
                </processors>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Compress_gzip</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>02/09/2021 06:11:16 IST</timestamp>
</template>
