mergeAdlsGen2files/mergeAdlsGen2files.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>A dataflow to merge all the files in ADLSgen2 storage into one file and ingest back to Azure Data Lake Storagegen2.</description>
    <groupId>3eb9b5eb-0177-1000-41fa-e36a41d06564</groupId>
    <name>mergeAdlsGen2files</name>
    <snippet>
        <connections>
            <id>52a26d7e-2b80-33a8-0000-000000000000</id>
            <parentGroupId>78680642-de56-3cd8-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1f5710bc-d2d7-38f4-0000-000000000000</groupId>
                <id>05143055-dbe8-39a9-0000-000000000000</id>
                <type>INPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>3becd7ca-e6cf-3779-0000-000000000000</groupId>
                <id>e813c30a-532a-3545-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>d7bc115f-81c7-344f-0000-000000000000</id>
            <parentGroupId>78680642-de56-3cd8-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-azure-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>storage-account-name</key>
                    <value>
                        <name>storage-account-name</name>
                    </value>
                </entry>
                <entry>
                    <key>storage-endpoint-suffix</key>
                    <value>
                        <name>storage-endpoint-suffix</name>
                    </value>
                </entry>
                <entry>
                    <key>storage-account-key</key>
                    <value>
                        <name>storage-account-key</name>
                    </value>
                </entry>
                <entry>
                    <key>storage-sas-token</key>
                    <value>
                        <name>storage-sas-token</name>
                    </value>
                </entry>
                <entry>
                    <key>storage-use-managed-identity</key>
                    <value>
                        <name>storage-use-managed-identity</name>
                    </value>
                </entry>
            </descriptors>
            <name>ADLSCredentialsControllerService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>storage-account-name</key>
                </entry>
                <entry>
                    <key>storage-endpoint-suffix</key>
                </entry>
                <entry>
                    <key>storage-account-key</key>
                </entry>
                <entry>
                    <key>storage-sas-token</key>
                </entry>
                <entry>
                    <key>storage-use-managed-identity</key>
                </entry>
            </properties>
            <state>DISABLED</state>
            <type>org.apache.nifi.services.azure.storage.ADLSCredentialsControllerService</type>
        </controllerServices>
        <processGroups>
            <id>1f5710bc-d2d7-38f4-0000-000000000000</id>
            <parentGroupId>78680642-de56-3cd8-0000-000000000000</parentGroupId>
            <position>
                <x>688.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>098750ee-14e6-3594-0000-000000000000</id>
                    <parentGroupId>1f5710bc-d2d7-38f4-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>1f5710bc-d2d7-38f4-0000-000000000000</groupId>
                        <id>17f0abf2-9227-36aa-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>1f5710bc-d2d7-38f4-0000-000000000000</groupId>
                        <id>05143055-dbe8-39a9-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1434a58a-2a6b-3ce1-0000-000000000000</id>
                    <parentGroupId>1f5710bc-d2d7-38f4-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>1f5710bc-d2d7-38f4-0000-000000000000</groupId>
                        <id>d713cf27-277c-3138-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>1f5710bc-d2d7-38f4-0000-000000000000</groupId>
                        <id>17f0abf2-9227-36aa-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7f3fc671-fe69-3cc3-0000-000000000000</id>
                    <parentGroupId>1f5710bc-d2d7-38f4-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>1f5710bc-d2d7-38f4-0000-000000000000</groupId>
                        <id>71e2ef15-1c37-31ef-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>1f5710bc-d2d7-38f4-0000-000000000000</groupId>
                        <id>17f0abf2-9227-36aa-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>71e2ef15-1c37-31ef-0000-000000000000</id>
                    <parentGroupId>1f5710bc-d2d7-38f4-0000-000000000000</parentGroupId>
                    <position>
                        <x>1744.0</x>
                        <y>672.0</y>
                    </position>
                </funnels>
                <funnels>
                    <id>d713cf27-277c-3138-0000-000000000000</id>
                    <parentGroupId>1f5710bc-d2d7-38f4-0000-000000000000</parentGroupId>
                    <position>
                        <x>1736.0</x>
                        <y>448.0</y>
                    </position>
                </funnels>
                <inputPorts>
                    <id>05143055-dbe8-39a9-0000-000000000000</id>
                    <parentGroupId>1f5710bc-d2d7-38f4-0000-000000000000</parentGroupId>
                    <position>
                        <x>960.0</x>
                        <y>280.0</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>merged_file</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <labels>
                    <id>0e2085d9-c158-3f32-0000-000000000000</id>
                    <parentGroupId>1f5710bc-d2d7-38f4-0000-000000000000</parentGroupId>
                    <position>
                        <x>728.0</x>
                        <y>440.0</y>
                    </position>
                    <height>88.0</height>
                    <label>Configure the ADLS credentials,
file system name
&amp; folder name</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>272.0</width>
                </labels>
                <processors>
                    <id>17f0abf2-9227-36aa-0000-000000000000</id>
                    <parentGroupId>1f5710bc-d2d7-38f4-0000-000000000000</parentGroupId>
                    <position>
                        <x>904.0</x>
                        <y>480.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-azure-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>adls-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.services.azure.storage.ADLSCredentialsService</identifiesControllerService>
    <name>adls-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>filesystem-name</key>
<value>
    <name>filesystem-name</name>
</value>
                            </entry>
                            <entry>
<key>directory-name</key>
<value>
    <name>directory-name</name>
</value>
                            </entry>
                            <entry>
<key>file-name</key>
<value>
    <name>file-name</name>
</value>
                            </entry>
                            <entry>
<key>conflict-resolution-strategy</key>
<value>
    <name>conflict-resolution-strategy</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>adls-credentials-service</key>
<value>d7bc115f-81c7-344f-0000-000000000000</value>
                            </entry>
                            <entry>
<key>filesystem-name</key>
<value>files</value>
                            </entry>
                            <entry>
<key>directory-name</key>
<value>csvs</value>
                            </entry>
                            <entry>
<key>file-name</key>
<value>${filename}</value>
                            </entry>
                            <entry>
<key>conflict-resolution-strategy</key>
<value>fail</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutAzureDataLakeStorage</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.azure.storage.PutAzureDataLakeStorage</type>
                </processors>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>ingest_to_adlsgen2</name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>3becd7ca-e6cf-3779-0000-000000000000</id>
            <parentGroupId>78680642-de56-3cd8-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>354b451d-ca94-34e8-0000-000000000000</id>
                    <parentGroupId>3becd7ca-e6cf-3779-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3becd7ca-e6cf-3779-0000-000000000000</groupId>
                        <id>89289086-6158-310e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>merged</selectedRelationships>
                    <source>
                        <groupId>3becd7ca-e6cf-3779-0000-000000000000</groupId>
                        <id>0eaf6e76-591a-3ea3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4e89ef37-c13a-383e-0000-000000000000</id>
                    <parentGroupId>3becd7ca-e6cf-3779-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3becd7ca-e6cf-3779-0000-000000000000</groupId>
                        <id>4318a901-6b03-3a01-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>3becd7ca-e6cf-3779-0000-000000000000</groupId>
                        <id>0eaf6e76-591a-3ea3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9e570dfd-6b24-3161-0000-000000000000</id>
                    <parentGroupId>3becd7ca-e6cf-3779-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3becd7ca-e6cf-3779-0000-000000000000</groupId>
                        <id>0eaf6e76-591a-3ea3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>3becd7ca-e6cf-3779-0000-000000000000</groupId>
                        <id>fd2c87a7-9080-3e70-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d1f09861-dda2-3ed6-0000-000000000000</id>
                    <parentGroupId>3becd7ca-e6cf-3779-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3becd7ca-e6cf-3779-0000-000000000000</groupId>
                        <id>e813c30a-532a-3545-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>3becd7ca-e6cf-3779-0000-000000000000</groupId>
                        <id>89289086-6158-310e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>4318a901-6b03-3a01-0000-000000000000</id>
                    <parentGroupId>3becd7ca-e6cf-3779-0000-000000000000</parentGroupId>
                    <position>
                        <x>440.0</x>
                        <y>24.0</y>
                    </position>
                </funnels>
                <labels>
                    <id>15b0f202-1d99-3fa1-0000-000000000000</id>
                    <parentGroupId>3becd7ca-e6cf-3779-0000-000000000000</parentGroupId>
                    <position>
                        <x>216.0</x>
                        <y>-200.0</y>
                    </position>
                    <height>64.0</height>
                    <label>Fetches all the files from adls dir</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>280.0</width>
                </labels>
                <labels>
                    <id>167b063e-da3e-3e26-0000-000000000000</id>
                    <parentGroupId>3becd7ca-e6cf-3779-0000-000000000000</parentGroupId>
                    <position>
                        <x>1160.0</x>
                        <y>16.0</y>
                    </position>
                    <height>48.0</height>
                    <label>update filename attr</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>184.0</width>
                </labels>
                <labels>
                    <id>76b99e32-ad48-35ca-0000-000000000000</id>
                    <parentGroupId>3becd7ca-e6cf-3779-0000-000000000000</parentGroupId>
                    <position>
                        <x>736.0</x>
                        <y>-208.0</y>
                    </position>
                    <height>64.0</height>
                    <label>merge all the csv files into one</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>280.0</width>
                </labels>
                <outputPorts>
                    <id>e813c30a-532a-3545-0000-000000000000</id>
                    <parentGroupId>3becd7ca-e6cf-3779-0000-000000000000</parentGroupId>
                    <position>
                        <x>896.0</x>
                        <y>304.0</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>MergedFile</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>0eaf6e76-591a-3ea3-0000-000000000000</id>
                    <parentGroupId>3becd7ca-e6cf-3779-0000-000000000000</parentGroupId>
                    <position>
                        <x>840.0</x>
                        <y>-168.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Merge Strategy</key>
<value>
    <name>Merge Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Merge Format</key>
<value>
    <name>Merge Format</name>
</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>
    <name>Attribute Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Correlation Attribute Name</key>
<value>
    <name>Correlation Attribute Name</name>
</value>
                            </entry>
                            <entry>
<key>mergecontent-metadata-strategy</key>
<value>
    <name>mergecontent-metadata-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Minimum Number of Entries</key>
<value>
    <name>Minimum Number of Entries</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Number of Entries</key>
<value>
    <name>Maximum Number of Entries</name>
</value>
                            </entry>
                            <entry>
<key>Minimum Group Size</key>
<value>
    <name>Minimum Group Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Group Size</key>
<value>
    <name>Maximum Group Size</name>
</value>
                            </entry>
                            <entry>
<key>Max Bin Age</key>
<value>
    <name>Max Bin Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum number of Bins</key>
<value>
    <name>Maximum number of Bins</name>
</value>
                            </entry>
                            <entry>
<key>Delimiter Strategy</key>
<value>
    <name>Delimiter Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Header File</key>
<value>
    <name>Header File</name>
</value>
                            </entry>
                            <entry>
<key>Footer File</key>
<value>
    <name>Footer File</name>
</value>
                            </entry>
                            <entry>
<key>Demarcator File</key>
<value>
    <name>Demarcator File</name>
</value>
                            </entry>
                            <entry>
<key>Compression Level</key>
<value>
    <name>Compression Level</name>
</value>
                            </entry>
                            <entry>
<key>Keep Path</key>
<value>
    <name>Keep Path</name>
</value>
                            </entry>
                            <entry>
<key>Tar Modified Time</key>
<value>
    <name>Tar Modified Time</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Merge Strategy</key>
<value>Bin-Packing Algorithm</value>
                            </entry>
                            <entry>
<key>Merge Format</key>
<value>Binary Concatenation</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>Keep All Unique Attributes</value>
                            </entry>
                            <entry>
<key>Correlation Attribute Name</key>
                            </entry>
                            <entry>
<key>mergecontent-metadata-strategy</key>
<value>Do Not Merge Uncommon Metadata</value>
                            </entry>
                            <entry>
<key>Minimum Number of Entries</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Maximum Number of Entries</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>Minimum Group Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum Group Size</key>
                            </entry>
                            <entry>
<key>Max Bin Age</key>
                            </entry>
                            <entry>
<key>Maximum number of Bins</key>
<value>5</value>
                            </entry>
                            <entry>
<key>Delimiter Strategy</key>
<value>Filename</value>
                            </entry>
                            <entry>
<key>Header File</key>
                            </entry>
                            <entry>
<key>Footer File</key>
                            </entry>
                            <entry>
<key>Demarcator File</key>
                            </entry>
                            <entry>
<key>Compression Level</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Keep Path</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Tar Modified Time</key>
<value>${file.lastModifiedTime}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>MergeContent</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>merged</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.MergeContent</type>
                </processors>
                <processors>
                    <id>89289086-6158-310e-0000-000000000000</id>
                    <parentGroupId>3becd7ca-e6cf-3779-0000-000000000000</parentGroupId>
                    <position>
                        <x>840.0</x>
                        <y>48.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>merged.csv</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>fd2c87a7-9080-3e70-0000-000000000000</id>
                    <parentGroupId>3becd7ca-e6cf-3779-0000-000000000000</parentGroupId>
                    <position>
                        <x>104.0</x>
                        <y>-168.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-azure-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>adls-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.services.azure.storage.ADLSCredentialsService</identifiesControllerService>
    <name>adls-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>filesystem-name</key>
<value>
    <name>filesystem-name</name>
</value>
                            </entry>
                            <entry>
<key>directory-name</key>
<value>
    <name>directory-name</name>
</value>
                            </entry>
                            <entry>
<key>recurse-subdirectories</key>
<value>
    <name>recurse-subdirectories</name>
</value>
                            </entry>
                            <entry>
<key>file-filter</key>
<value>
    <name>file-filter</name>
</value>
                            </entry>
                            <entry>
<key>path-filter</key>
<value>
    <name>path-filter</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>listing-strategy</key>
<value>
    <name>listing-strategy</name>
</value>
                            </entry>
                            <entry>
<key>et-state-cache</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
    <name>et-state-cache</name>
</value>
                            </entry>
                            <entry>
<key>et-time-window</key>
<value>
    <name>et-time-window</name>
</value>
                            </entry>
                            <entry>
<key>et-initial-listing-target</key>
<value>
    <name>et-initial-listing-target</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>adls-credentials-service</key>
<value>d7bc115f-81c7-344f-0000-000000000000</value>
                            </entry>
                            <entry>
<key>filesystem-name</key>
<value>files</value>
                            </entry>
                            <entry>
<key>directory-name</key>
<value>csvs</value>
                            </entry>
                            <entry>
<key>recurse-subdirectories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>file-filter</key>
                            </entry>
                            <entry>
<key>path-filter</key>
                            </entry>
                            <entry>
<key>record-writer</key>
                            </entry>
                            <entry>
<key>listing-strategy</key>
<value>timestamps</value>
                            </entry>
                            <entry>
<key>et-state-cache</key>
                            </entry>
                            <entry>
<key>et-time-window</key>
<value>3 hours</value>
                            </entry>
                            <entry>
<key>et-initial-listing-target</key>
<value>all</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>true</executionNodeRestricted>
                    <name>ListAzureDataLakeStorage</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.azure.storage.ListAzureDataLakeStorage</type>
                </processors>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>MergeAdlsGen2files</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>02/09/2021 06:13:51 IST</timestamp>
</template>
